body{
  margin: 0;
}

h1{
  font-size: 8.5rem;
}

.app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  position: relative;

  max-width: 100vw;
  min-height: 100vh;
}

.header-container{

  margin-left: 29.5rem;
  margin-top: -27rem;
}

.header{

}

.search-container{
  margin-left: 29.5rem;

}

.search{
  width: 33vw;
}

.btn-container{
  margin-left: 29.5rem;
  margin-top: 1rem;
}

.btn-search{
  margin-left: 3rem;
}

.btn-random{
margin-left: 16rem;
}