@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

body{
  margin: 0;
}

h1{
  font-size: 11rem;
  font-family: 'Pokemon Solid', sans-serif;
}

button{
  border: 3px solid #3c5aa6;
  border-radius: 10px;
  font-size: 1rem;
  padding: 5px;
}
button:hover{
  background-color: #3c5aa6;
}

.app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  position: relative;

  max-width: 100vw;
  min-height: 100vh;
}

.header-container{
  margin-left: 21.5rem;
  margin-top: -23rem;
}

.header{
  color: #ffcb05;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #3c5aa6;
  letter-spacing: .7rem;
}

.search-container{
  margin-left: 27rem;
  margin-top: -5rem;
}

.search{
  width: 40vw;
  border:#3c5aa6 3px solid;
  border-radius: 25px;
  outline:none;
  padding: 10px;
  font-size: 1.2rem;
}

.btn-container{
  margin-left: 29.5rem;
  margin-top: 1rem;
}

.btn-search{
  margin-left: 3rem;
}

.btn-random{
margin-left: 16rem;
}