@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

body{
  margin: 0;
}

h1{
  font-size: 11rem;
  font-family: 'Pokemon Solid', sans-serif;
}

button{
  border: 3px solid #3c5aa6;
  border-radius: 10px;
  font-size: 1rem;
  padding: 5px;
}
button:hover{
  background-color: #3c5aa6;
}



// ---- Search Component ----
.search-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -5rem;
}

.header-container{
 
}

.search-form{
  margin-top: -8rem;
}

.header{
  color: #ffcb05;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #3c5aa6;
  letter-spacing: .7rem;
}

.search{
  width: 40vw;
  border:#3c5aa6 3px solid;
  border-radius: 25px;
  outline:none;
  padding: 10px;
  font-size: 1.2rem;
}

.btn-container{
  margin-left: 29.5rem;
  margin-top: 1rem;
}

.btn-search{
  margin: 2.5px;
  margin-left: 6px;
}

.btn-random{
  margin: 2.5px;
}
// ---- Search Component ----
// ---- preResults Component ----
.preresults-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -3rem;
}
.preresults-gif{
  height: 400px;
  width: 400px;
  border: black solid 8px;
  border-radius: 10px;
}
// ---- preResults component ----
// ---- Results component ----
.results-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border: 2px solid black;
  margin-top: -4rem;
  z-index: 2;

}

.results-profile-container{
  border: 5px solid rgb(182, 30, 30);
  width: 400px;
  height: 600px;
  z-index: 2;
}

.results-profile-img{
  border: 5px solid rgb(30, 182, 106);
  z-index: 1;
  width: 150px;
  height: 150px;
}

.results-profiler-info{
  z-index: 2;

}
// ---- Results component ----









// imgs
.single-img{
  height: 500px;
  width: 320px;
}